{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

    <h2>{{ article.title }}</h2>
    <div>{{ article.text }}</div>
    <i>Автор: {{ article.author }}</i>
    <h5>Прочитало: {{ article.readers.count }}</h5>
    <h4>Понравилось: {{ article.likes }}</h4>
    

    <ul>
        {% for readers in article.readers.all %}
            <li>{{ readers }}</li>
        {% endfor %}
    </ul>

    <hr>
    
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <a href="{% url 'edit-article' %}">
            <button class="btn btn-lg btn-warning">Редактировать</button>
        </a>
    </form>

    <form method="POST">
        {% csrf_token %}
        <button class="btn btn-lg btn-danger">Удалить</button>
    </form>
{% endblock %}