{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
    
    {% include "includes/success.html" %}
    <hr>
    <h2></li>{{ article.title }}</li></h2>
    {% for tag in article.tag.all %}
        <button>{{ tag.name }}</button>
    {% endfor %}
    <hr>
    {% if article.picture %}
        <img width="150" src="{{ article.picture.url }}">
    {% endif %}
    
    <div><h4>{{ article.text }}</h4></div>
    <hr>
    <i>Автор: {{ article.author }}</i>
    <h6>Прочитало: {{ article.readers.count }}</h6>
    <h6>Просмотров: {{ article.views }}</h6>
    <h6>Понравилось: {{ article.likes }}</h6>
    <hr>
    <h7>Дата публикации: {{ article.publication_date }} </h7>
    <br>
    <h7>Последнее изменение: {{ article.updated_date }} </h7>      
    
    <hr>
    
        <a  href="{% url 'edit-article' article.id %}" 
            class="btn btn-lg btn-warning">Редактировать
        </a>
                
    

        <button class="btn btn-lg btn-danger">Удалить</button>
{% endblock %}