{% extends 'base.html'%}

{% block content %}

   <div class="jumbotron">
        <h1>Статьи на сайте ItBlog !</h1>
        <p>Делись новостями, и узнавай новое для себя !</p>
    </div>
    

    {% for a in articles %}
        <h2>
            <a href="{% url 'article' a.id %}">
                {{ a.title }}
            </a>
        </h2>

        <h5>
            <a href="{% url 'profile' a.author.pk %}">
                Автор: {{ a.author.nick }} 
            </a>   
        </h5>
    
        <b>Прочитано: {{ a.readers.count }}</b>
        <br>
        <b>Понравилось: {{ a.likes }} </b>
        <br>
            <a href="" class="btn btn-info" role="button">коментарии</a>
        <hr>
    {% endfor %}
{% endblock %}