{% extends 'base.html' %}

{% block content %}

<h2>Список пользователей: </h2>

    <table class ="table table-dark table-hover table-srtiped table-bordered">
        <thead>
            <tr>
                <th>Логин</th>
                <th>ФИО</th>
            </tr>
        </thead>
        <tbody>
            {% for users in users_all %}
            <tr>
                <td>{{ users.username }}</td>
                <td>{{ users.get_full_name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}